$bp-xsmall: 27.5em;
$bp-small: 50em;
$bp-medium: 62.5em;
$bp-large: 80em;
$bp-xlarge: 112.5em;

$color-primary: #2d2d2d;
$color-secondary: #fdfdfd;

$color-index: #9280f4;

$color-primary-modus: #4f4cee;
$color-secondary-modus: #3533a8;

$color-primary-jeghardeg: #b32739;
$color-secondary-jeghardeg: #123b77;

$color-primary-smertebert: #87bab2;
$color-secondary-smertebert: #428177;

$color-primary-skattejaget: #2f2f2f;
$color-secondary-skattejaget: #12cdd4;

$font-primary: 'Poppins',
sans-serif;
$font-secondary: 'Fjalla One',
sans-serif;

$font-jeghardeg: 'Merriweather', serif;
$font-smertebert: 'Chewy';
$font-skattejaget: 'Bangers', cursive;

$padding-primary: 0 20rem 0 20rem;
$padding-secondary: 0 10rem 0 10rem;
$padding-tertiary: 0 5rem 0 5rem;
$padding-quaternary: 0 2rem 0 2rem;