.header__title {
    color: $color-secondary;
    font-size: 7rem;

    @include respond(bp-xsmall) {
        font-size: 4rem;
    }

    // @media only screen and (max-width: $bp-small) {
    //     margin-top: 10rem;
    // }

    &--modus {
        font-family: $font-primary;
        text-transform: uppercase;
        font-weight: 600;
    }

    &--jeghardeg {
        font-family: $font-jeghardeg;
    }

    &--smertebert {
        font-family: $font-smertebert;
    }
}

.heading-primary {
    font-family: $font-secondary;
    font-size: 3.75rem;
    text-transform: uppercase;

    // @media only screen and (max-width: $bp-small) {
    //     font-size: 3.5rem;
    // }

    &--index {
        font-family: $font-secondary;
        font-size: 6rem;
        color: $color-index;
        margin-bottom: 2rem;
        text-transform: none;

        // @media only screen and (max-width: $bp-medium) {
        //     font-size: 3.5rem;
        // }
    }

    &--modus {
        color: $color-primary-modus;
    }

    &--jeghardeg {
        color: $color-primary-jeghardeg;
    }

    &--smertebert {
        color: $color-secondary-smertebert;
    }

    &--aboutme {
        color: $color-index;
        text-align: center;
        border-bottom: 2px solid $color-index;
    }
}

.heading-secondary {
    font-family: $font-secondary;
    font-size: 2.8rem;
    text-transform: uppercase;

    // @media only screen and (max-width: $bp-small) {
    //     font-size: 2.5rem;
    // }

    &--modus {
        color: $color-secondary-modus;
        border-top: 2px solid $color-secondary-modus;
        border-bottom: 2px solid $color-secondary-modus;
    }

    &--jeghardeg {
        color: $color-secondary-jeghardeg;
        border-top: 2px solid $color-secondary-jeghardeg;
        border-bottom: 2px solid $color-secondary-jeghardeg;
    }

    &--smertebert {
        color: $color-primary-smertebert;
        border-top: 2px solid $color-primary-smertebert;
        border-bottom: 2px solid $color-primary-smertebert;
    }
}

.heading-tertiary {
    font-family: $font-secondary;
    font-size: 2.2rem;

    // @media only screen and (max-width: $bp-small) {
    //     font-size: 2rem;
    // }

    &--modus {
        @include respond(bp-small) {
            font-size: 1rem;
        }
    }

    // &--modus {
    //     @media only screen and (max-width: $bp-small) {
    //         font-size: 1rem;
    //     }
    // }
}

.heading-quaternary {
    font-family: $font-secondary;
    font-size: 2rem;

    // @media only screen and (max-width: $bp-small) {
    //     font-size: 1.8rem;
    // }

    &--modus {
        color: $color-primary-modus;

        &--usertests {
            color: $color-primary-modus;

            @include respond(bp-small) {
                font-size: .8rem;
            }

            // @media only screen and (max-width: $bp-small) {
            //     font-size: .8rem;
            // }
        }
    }

    &--jeghardeg {
        color: $color-primary-jeghardeg;
    }

    &--smertebert {
        color: $color-secondary-smertebert;
    }
}

.paragraph {
    font-size: 1.8rem;

    @include respond(bp-small) {
        font-size: 2rem;
    }

    // @media only screen and (max-width: $bp-medium) {
    //     font-size: 2.3rem;
    // }

    // @media only screen and (max-width: $bp-small) {
    //     font-size: 1.6rem;
    // }

    &__index {
        font-size: 2.5rem;

        // @media only screen and (max-width: $bp-small) {
        //     font-size: 1.8rem;
        // }
    }

    &__aboutme {
        font-weight: 600;
        color: $color-index;
    }

    &__modus {
        font-size: 1.8rem;

        @include respond(bp-small) {
            font-size: 1rem;
        }

        // @media only screen and (max-width: $bp-small) {
        //     font-size: 1rem;
        // }
    }

    &__smertebert {
        font-size: 1.5rem;
        font-family: $font-secondary;

        // @media only screen and (max-width: $bp-small) {
        //     font-size: 1rem;
        // }
    }

    &__bold {
        font-weight: 600;
    }
}

.footer__paragraph {
    font-size: 1.8rem;
    color: white;

    @include respond(bp-small) {
        font-size: 1.5rem;
    }

    &--index {
        color: $color-index;
    }
}

.title {
    font-family: $font-primary;
    font-size: 7rem;
    color: $color-secondary;
    text-transform: uppercase;
    font-weight: 600;
}

a {
    color: $color-primary;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;

    // @media only screen and (max-width: $bp-medium) {
    //     font-size: 2.3rem;
    // }

    // @media only screen and (max-width: $bp-small) {
    //     font-size: 1.6rem;
    // }
}

.nav__links {
    font-family: $font-secondary;
    text-decoration: none;
    font-size: 1.5rem;

    // @media only screen and (max-width: $bp-small) {
    //     font-size: 1.8rem;
    // }

    &--index {
        color: $color-index;
    }

    &--projects {
        color: $color-secondary;
    }
}

.nav__links--index:hover {
    border-bottom: 2px solid $color-index;
}

.nav__links--projects:hover {
    border-bottom: 2px solid $color-secondary;
}

.concept-name {
    font-family: 'Merriweather', sans-serif;
    color: $color-primary-jeghardeg;
    font-weight: 600;
    //color + family
}

.color-modus {
    color: $color-primary-modus;
}